<!DOCTYPE html>
<html>
    <head>
        <title>Template</title>
        <link rel="stylesheet" href="temp.css">
    </head>
<div class="navtop" >
    
          <div class="home"> <a href="home">HOME</a> </div>  
          <div class="news"> <a href="news">NEWS</a> </div> 
          <div class="contact"> <a href="contact">CONTACT</a> </div> 
          <div class="about"> <a href="about">ABOUT</a> </div> 
          <div class="services"> <a href="services">SERVICES</a> </div> 
</div>
   <br>
   <br>
<div class="autotuningnews"><h1>Automobilindustrie aktuell: News zur Autobranche</h1></div>

<hr>
 
<div class="contend">
         <div class="p1">
         <img class="gr1" src="gr1.jpg" alt="Grill1">
             <p class="par1">   Autofahrer bestimmter Marken haben häufig einen schlechten Ruf. 
                Aber gibt es wirklich einen Zusammenhang zwischen Hersteller und Fahrer?
                Eine Umfrage soll das jetzt bestätigt haben.
  
                Fareham/Großbritannien - Jeder Raudi fährt einen Audi* - und jeder Psychopath einen BMW*? 
                Nun ja, so etwas Ähnliches behauptet zumindest eine Umfrage der britischen Website scrapcarcomparison.
                2000 Autofahrer haben im Auftrag der Seite einen „Psychopathietest“ durchgeführt, 
                der ihnen sagen sollte, wie wahrscheinlich es ist,
                dass sie psychopathische Züge wie beispielsweise einen Mangel an Reue oder Schuldgefühlen aufweisen. 
            </p>
          </div>

           <div class="p2">
            <img class="gr2" src="gr2.jpg" alt="Grill2">
               <p class="par2"> 
                Der aktuelle Look ist eher eine Mischung aus vertikalen Elementen und schmalen Lamellen.
                Die untere Blende weist weiterhin eine trapezförmige Öffnung in der Mitte auf. 
                Auch die Öffnungen in den Ecken scheinen kleiner zu sein als beim bisherigen Design, 
                aber die Tarnung könnte etwas verbergen.
                Das Styling an den Seiten scheint im Vergleich zum aktuellen Modell vereinfacht worden zu sein und am Heck scheint es neue Rücklichter zu geben.
                Diese haben jetzt eine Reihe von horizontalen Elementen am äußeren Teil jeder Leuchteinheiten.
                Die Tarnung könnte aber auch hier etwas verbergen. 
                Wie die überarbeiteten Seitenschweller scheint auch die Formgebung des 
                unteren Teils des hinteren Stoßfängers weicher und einfacher zu sein als das aktuelle Design.
               </p>
           </div>

            <div class="p3">   
               <img class="gr3" src="bmw1.jpg" alt="Grill3">
                 <p class="par3">
                    BMW- und Audi-Fahrer auf den ersten Plätzen
                    Den wenig schmeichelhaften ersten Platz haben sich die BMW-Fahrer gesichert. 
                    Sie haben im Durchschnitt 12,1 von 36 „Psychopathiepunkten“ erreicht.
                     Dicht gefolgt von den Audi-Fahrern, 
                    die einen durchschnittlichen Score von 11,7 Punkten erzielt haben. 
                    Auf Platz drei folgen dann mit größerem Abstand und nur sieben Punkten die Fiat-Fahrer.  
                 </p>
            </div>
 </div>
        <div class="bottom">
    <span>Categories:</span>
    <div><a href="Links">Link Text Goes Here</a></div>
    <div><a href="Links">Link Text Goes Here</a></div>
    <div><a href="Links">Link Text Goes Here</a></div>
       </div>

       </html>


